:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #9c9c9c;

  --font-size-small: 14px;
  --font-family-main: sans-serif;
  --: 600;

  --transition: 0.4s;
}

/* Tailwind дээр хэрэглэх */
.relative { position: relative; }
.absolute { position: absolute; }
.z-10 { z-index: 10; }
.transition-opacity { transition: opacity 0.3s; }



